
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {margin:0; color: lightgray; font-family:"Open sans";}

html {background-color: white;}

ul {
position: -webkit-sticky;
position: sticky;
width: 100%;
height:70px;
}
a{
	color:white;
}
h2 {
text-align: center;
font-size: 20px;
}

.important{
	border-bottom: 2px solid currentColor;
	color:black;
}

.graybar{
background-color: lightgray;
height: 130px;
}
.bannertxt {
position: relative;
left: 50px;
color:white;
font-size: 45px;
font-family:"Open sans";
font-weight: bold;
}

.bannersubtxt {
position: relative;
text-align: center;
margin-left: 5%;
margin-right: 5%;
color:black;
font-size: 25px;
font-family:"Open sans";
font-weight: bold;
}
#buttonleft {
background-color: lightgrey;
color:white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
}

#buttonleft span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.4s;
}

#buttonleft span:after {
content: '\00ab';
position: absolute;
opacity: 0;
top: 0;
left: -90px;
transition: 0.4s;
}

#buttonleft:hover span {
padding-left: 25px;
}

#buttonleft:hover span:after {
opacity: 1;
right: 0;
}

#buttonright {
background-color: lightgray;
color:white;
text-align: center;
display: inline-block;
font-size: 14px;
}

#buttonright span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.4s;
}

#buttonright span:after {
content: '\00bb';
position: absolute;
opacity: 0;
left: 90px;
transition: 0.4s;
}

#buttonright:hover span {
padding-right: 25px;
}

#buttonright:hover span:after {
opacity: 1;
right: 0;
}

ul.topnav {
list-style-type: none;
margin: 3px;
padding: 0;
overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a {
display: block;
text-align: center;
padding: 14px 16px;
}

ul.topnav li a:hover:not(.active)

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.bar {
	background-color: green;
	font-size:36px;
	height:100px;
	}
.thinbar {
	height:20px;
	}

.spacebar {
	font-size:36px;
	height:100px;
	background-color: white;
}
#headerbar{
	height: 100px;
}

.bgcontent{
display:inline-block;
width:100%;
}
.contentbg{
text-align:left;
background-color: white;
width:100%;
height:500px;
}

.content {
margin-left:10%;
margin-right:10%;
color: black;
font-size:18px;
}

.titles {
text-align: center
}

.footer{
text-align: left;
left:20px;
color:white;
font-size:20px;
}

.iframe{
width:700px;
height:500px;
}

